<div class="bg--primary__gray mt-44 footer">
    <div class="container mx-auto px-5 flex h-64">
        <div class="self-center mb-10">
        <img src="/assets/images/Logo_Supplean.png" class="w-48 self-center mt-0.5 pr-2" alt="Logo">
        <p>Payoff carino</p>
        </div>
        <div class="self-center mx-5">
            <ul> 
                <li class="my-3 text-gray-400">Pricing</li>
                <li class="my-3 text-gray-400">Blog</li>
                <li class="my-3 text-gray-400">Consulenze</li>
            </ul>
        </div>
    </div>
    </div>