<div class="bg--primary__gray footer relative z-10">
    <div class="container mx-auto px-5 flex h-64">
        <div class="self-center mb-10 md:w-4/12">
        <img src="./assets/images/logo_procurement24ore.png" class="w-64 self-center mt-0.5 pr-2" alt="Logo">
        </div>
        <div class="self-center mx-5 md:w-2/12">
            <ul> 
                <li class="my-3 text-gray-400 cursor-pointer" routerLink="pricing">Pricing</li>
                <li class="my-3 text-gray-400">
                <a href="https://www.niuma.it/blog/" target="_blank">
                    Blog
                </a>
                </li>
                <li class="my-3 text-gray-400">                
                <a href="https://tipiem.procurement24ore.it" target="_blank">
                    Consulenze
                </a>
            </li>
            </ul>
        </div>
        <div class="flex relative md:w-6/12 items-baseline self-center flex-wrap">
            <img src="./assets/images/cert1.png" alt="iso27001" class="w-3/12 relative m-2">
            <img src="./assets/images/cert2.png" alt="iso9001" class="w-6/12 relative m-2">
            <img src="./assets/images/cert3.png" alt="sa8000" class="w-6/12 relative m-2">
            <img src="./assets/images/cert4.png" alt="iso14001" class="w-3/12 relative m-2">
        </div>
    </div>
    </div>