<section>
<div class="flex 2xl:h-screen h-full">

    <div class="md:w-full h-full bg--primary__lightblue">
        <p class="cursor-pointer text-primary p-3 items-end flex" routerLink="home">
                <svg width="18" height="18" class="mr-2 self-center" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.25 12.2744L19.25 12.2744" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.2998 18.2988L4.2498 12.2748L10.2998 6.24976" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Torna indietro
        </p>
        <div class="text-center bg--primary__lightblue">

          <form class="onboarding-form mx-auto pt-12 pb-24" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" id="salesforceForm"
                [formGroup]="formGroup">

            <h1 class="text-primary text-left text-xl font-semibold  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5 ">Completa il form, ti contatteremo in 24 ore!</h1>
            <h5 *ngIf="type === 'Webform Demo PMI'"> Demo Generica </h5>
            <h5 *ngIf="type === 'Webform Piano Light'"> Piano Light </h5>
            <h5 *ngIf="type === 'Webform Piano Full'"> Piano Full </h5>
            <input formControlName="oid" type=hidden name="oid" value="00D09000002Xecz">
            <input formControlName="retURL" type=hidden name="retURL" value="https://nifty-wright-9e89ec.netlify.app/onboarding?type=Demo&success=true">

            <div class="w-full my-3 md:items-center">
              <input class="w-full form--primary bg-white rounded-md border-none h-16 tracking-wide" placeholder="Nome"
                formControlName="firstName" id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
            </div>

            <div class="w-full my-3 md:items-center">
              <input class="w-full form--primary bg-white rounded-md border-none h-16 tracking-wide" placeholder="Cognome"
                formControlName="lastName" id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
            </div>

            <div class="w-full my-3 md:items-center">
              <input class="w-full form--primary bg-white rounded-md border-none h-16 tracking-wide" placeholder="Azienda"
                     formControlName="company" id="company" maxlength="40" name="company" size="20" type="text" /><br>
            </div>

            <div class="w-full my-3 md:items-center">
              <input class="w-full form--primary bg-white rounded-md border-none h-16 tracking-wide" placeholder="Numero di telefono"
                formControlName="phone" id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
            </div>

            <div class="w-full my-3 md:items-center">
              <input class="w-full form--primary bg-white rounded-md border-none h-16 tracking-wide" placeholder="Email"
                formControlName="email" id="email" maxlength="80" name="email" size="20" type="text" /><br>
            </div>

            <select formControlName="leadSource" style="display: none;" name="lead_source" id="lead_source">
              <option value="Webform Demo PMI">Webform Demo PMI</option>
              <option value="Webform Piano Light">Webform Piano Light</option>
              <option value="Webform Piano Full">Webform Piano Full</option>
            </select>

            <div class="w-full my-3 md:items-center">
              <select class="w-full form--primary bg-white rounded-md border-none h-16 tracking-wide"
                formControlName="industry" id="industry" name="industry">
                <option value="" disabled selected hidden>Industria di riferimento</option>
                <option value="Abbigliamento">Abbigliamento</option>
                <option value="Edilizia">Edilizia</option>
                <option value="Energia">Energia</option>
                <option value="Farmaceutico">Farmaceutico</option>
                <option value="Manifatturiero">Manifatturiero</option>
                <option value="Sanità">Sanità</option>
                <option value="Servizi">Servizi</option>
                <option value="Telecomunicazioni">Telecomunicazioni</option>
                <option value="Vendita al Dettaglio">Vendita al Dettaglio</option>
                <option value="Altro">Altro</option>
            </select><br>
            </div>

            <div class="w-full my-3 md:items-center">
              <select class="w-full form--primary bg-white rounded-md border-none h-16 tracking-wide"
                formControlName="employeesNumber" id="00N0900000Fvf8R" name="00N0900000Fvf8R" title="Dimensione Azienda">
                <option value="" disabled selected hidden>Dimensioni dell'azienda</option>
                <option value="0-20">0-20</option>
                <option value="21-50">21-50</option>
                <option value="51-100">51-100</option>
                <option value="101-150">101-150</option>
                <option value="151-250">151-250</option>
                <option value="251-500">251-500</option>
                <option value="&gt;500">&gt;500</option>
              </select><br>
            </div>

            <div class="w-full my-3 md:items-center">
              <select class="w-full form--primary bg-white rounded-md border-none h-16 tracking-wide"
                      formControlName="currentManagement" id="00N0900000FvFrT" name="00N0900000FvFrT" title="Gestionale Attuale">
                <option value="" disabled selected hidden>Sistema ERP</option><option value="AS400">AS400</option>
                <option value="SAP">SAP</option>
                <option value="Oracle JD Edwards">Oracle JD Edwards</option>
                <option value="Microsoft Dynamics">Microsoft Dynamics</option>
                <option value="TeamSystem Enterprise">TeamSystem Enterprise</option>
                <option value="ERP Zucchetti">ERP Zucchetti</option>
                <option value="Altro">Altro</option>
              </select><br>
            </div>

            <button
              (click)="onSubmit()" [disabled]="!formGroup.valid"

            class="btn--primary rounded-md my-2 w-6/12 mt-6 hover:font-semibold tracking-widest leading-none relative"  type="submit" name="s">
              Invia
            </button>

          </form>
        </div>
    </div>
    <div class="md:w-3/12">

    </div>
</div>
</section>

<ng-template #successModal let-modal>
  <mat-dialog-content>
    <div class="modal-header">
      <p (click)="close()">X</p>
    </div>
    <div class="modal-body">
      <p>SUCCESS</p>
    </div>
  </mat-dialog-content>

</ng-template>
