<div class="container-2xl px-5 border-gray mx-auto md:h-20 py-4 md:mb-16 mb-0 ">
<div class="py-2 rounded-sm z-50 flex justify-between">
    <img src="/assets/images/logo_procurement24ore.png" class="w-60 self-center mt-0.5 pr-2 cursor-pointer"  alt="Logo" routerLink="home">
    <div class="md:flex hidden">
    <p *ngIf="!router.url.includes('home')" class="self-center md:mx-2 hover:text-black cursor-pointer rounded-sm py-1 md:px-2 text-primary" routerLink="home" >Home</p>
    <p class="self-center md:mx-2 hover:text-black cursor-pointer rounded-sm py-1 md:px-2 text-primary" routerLink="pricing" >Pricing</p>
    <p class="self-center md:mx-2 hover:text-black cursor-pointer rounded-sm py-1 md:px-2 text-primary" routerLink="../customers" >Clienti</p>
    <div class="dropdown self-center inline-block relative">
      <button class="self-center md:mx-2 hover:text-black cursor-pointer py-1 flex">
        <p class="mr-1 text-primary">Funzionalità</p>
        <svg class="fill-current h-4 w-4 self-center text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
      </button>
      <ul class="dropdown-menu self-center absolute hidden p-3 w-96 bg-white z-50 shadow-lg rounded-md">
        <a routerLink="suppliers" >
        <li class="rounded hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2" [ngClass]="{'bg-high' : router.url.includes('suppliers')}">
          <div>
            <div class="flex items-center my-2">
                <p class="font-medium self-center text-primary">Albo Fornitori</p>
            </div>
            <div class="p-1 mt-1">
              <p class="text-gray-400 text-sm font-light">Albo fornitori, onboarding e gestione contratti</p>
            </div>
            </div>
        </li>
        </a>
        <a routerLink="orders">
        <li class="rounded hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2" [ngClass]="{'bg-high' : router.url.includes('orders')}">
          <div>
            <div class="flex">
                <p class="font-medium self-center text-primary">Ordini</p>
            </div>
            <div class="p-1 mt-1">
              <p class="text-gray-400 text-sm font-light">RDO, RDA e ODA
              </p>
            </div>
            </div>
        </li>  
        </a>  
        <a routerLink="approval-flow">
        <li class="rounded hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2" [ngClass]="{'bg-high' : router.url.includes('approval-flow')}">
          <div>
            <div class="flex">
                <p class="font-medium self-center text-primary">Processi Approvativi</p>
            </div>
            <div class="p-1 mt-1">
              <p class="text-gray-400 text-sm font-light">Flussi approvativi flessibili e personalizzabili
              </p>
            </div>
            </div>
        </li>   
        </a> 
        <a routerLink="analytics">
        <li class="rounded hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2" [ngClass]="{'bg-high' : router.url.includes('analytics')}">
          <div>
            <div class="flex">
                <p class="font-medium self-center text-primary">Analitiche</p>
            </div>
            <div class="p-1 mt-1">
              <p class="text-gray-400 text-sm font-light">Visibilità totale sui tuoi acquisti
              </p>
            </div>
            </div>
        </li> 
        </a>    
        <a routerLink="integrations"> 
        <li class="rounded hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2" [ngClass]="{'bg-high' : router.url.includes('integrations')}">
          <div>
            <div class="flex">
                <p class="font-medium self-center text-primary">Integrazioni</p>
            </div>
            <div class="p-1 mt-1">
              <p class="text-gray-400 text-sm font-light">Connetti la piattaforma con il tuo ERP
              </p>
            </div>
            </div>
        </li>
        </a>
        <a routerLink="permissions">
        <li class="rounded hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2" [ngClass]="{'bg-high' : router.url.includes('permissions')}">
          <div>
            <div class="flex">
                <p class="font-medium self-center text-primary">Permessi flessibili</p>
            </div>
            <div class="p-1 mt-1">
              <p class="text-gray-400 text-sm font-light">Assegna permessi granulari ad ogni utente
              </p>
            </div>
            </div>
        </li>  
        </a> 
      </ul>
    </div>    
    <br class="md:hidden block">
      <div class="dropdown self-center inline-block relative">
        <button class="self-center md:mx-2 hover:text-black cursor-pointer py-1 flex">
          <p class="mr-1 text-primary">Risorse</p>
          <svg class="fill-current h-4 w-4 self-center text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
        </button>
        <ul class="dropdown-menu self-center absolute hidden p-3 w-96 bg-white z-50 shadow-lg rounded-md">
          <li class="rounded-t hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2">
            <a routerLink="posts/18576">
            <div>
              <div class="flex items-center">
                  <p class="font-medium self-center text-primary">Case Study | Gefran</p>
              </div>
              <div class="p-1 mt-1">
                <p class="text-gray-400 text-sm font-light">Le caratteristiche di flessibilità della piattaforma ci hanno sostenuto nel
                  perfezionamento dei nostri processi</p>
              </div>
              </div>
              </a>
          </li>
          <li class="rounded-t hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2">
            <a  routerLink="blog">
            <div>
              <div class="flex items-center">
                  <p class="font-medium self-center text-primary">Blog</p>
              </div>
              <div class="p-1 mt-1">
                <p class="text-gray-400 text-sm font-light">Scopri tutte le ultime notizie dal monde del procurement</p>
              </div>
              </div>
              </a>
          </li>
          <li class="rounded-t hover:bg-gray-50 py-2 px-4 block whitespace-no-wrap cursor-pointer my-2">
            <a href=" https://www.theprocuremen.com/azienda/" target="_blank">
            <div>
              <div class="flex">
                  <p class="font-medium self-center text-primary">Consulenza</p>
              </div>
              <div class="p-1 mt-1">
                <p class="text-gray-400 text-sm font-light">Gestiamo con approccio sartoriale l’intero ciclo di approvvigionamento, garantendo ai nostri clienti risultati di <span>risparmio significativi e misurabili</span>, a vantaggio di tutto il business aziendale.
                </p>
              </div>
              </div>
            </a>
          </li>        
        </ul>
      </div>
    <br class="md:hidden block">
    <button class="btn--secondary__blue rounded-md hover:font-semibold tracking-widest leading-none relative whitespace-pre md:ml-5 self-center" [routerLink]="['onboarding']" [queryParams]="{type: 'Demo'}" style="min-width: min-content; height: fit-content;" type="button">
      Richiedi una demo
    </button>
  </div>
  <div class="block md:hidden">
    <label for="my-modal-3" class="modal-button">    
      <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px"><path d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"/></svg>
    </label>

<!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle">
    <div class="modal p-10 ali">
      <div class="modal-box relative rounded-2xl">
        <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <div class="flex">
          <div class="w-6/12 mr-5">
            <p routerLink="pricing"><label for="my-modal-3">Pricing</label></p>
          </div>
          <div class="w-6/12">
            <p routerLink="../customers"><label for="my-modal-3">Clienti</label></p>
          </div>
        </div>
        <hr class="my-3">
          <p class="text-xs my-5">FUNZIONALITÀ</p>
          <div class="flex">          
          <div class="w-6/12 mr-5">
            <p routerLink="suppliers" class=""><label for="my-modal-3">Albo Fornitori</label></p>
            <p routerLink="approval-flow" class="mt-5"><label for="my-modal-3">Approvazioni</label></p>
            <p routerLink="integrations" class="mt-5"><label for="my-modal-3">Integrazioni</label></p>
          </div>
          <div class="w-6/12">
            <p routerLink="orders" class=""><label for="my-modal-3">Ordini</label></p>
            <p routerLink="analytics" class="mt-5"><label for="my-modal-3">Analitiche</label></p>
            <p routerLink="permissions" class="mt-5"><label for="my-modal-3">Permessi Flessibili</label></p>
          </div>
          </div>
        <hr class="my-3 mt-6">
        <p class="text-xs my-5">RISORSE</p>
        <div class="flex">          
          <div class="w-6/12 mr-5">
              <p routerLink="blog" class=""><label for="my-modal-3">Blog</label></p>
            <a href=" https://tipiem.procurement24ore.it" target="_blank">
              <p class="mt-5">Consulenze</p>
            </a>
          </div>
          <div class="w-6/12 ">
              <p routerLink="posts/18576" class=""><label for="my-modal-3">Case Study | Gefran</label></p>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
