<div class="container border-gray mx-auto flex items-center justify-between h-16 md:h-20 py-4 mb-16 sm:mb-20 px-4">
<div class="flex bg--primary__gray px-4 mx-1 py-2 rounded-sm z-50 fixed">
    <img src="/assets/images/Logo_Supplean.png" class="w-24 self-center mt-0.5 pr-2" alt="Logo">
    <p class="self-center mx-2 hover:text-black cursor-pointer bg-gray-200 rounded-sm py-1 px-2">Pricing</p>
    <p class="self-center mx-2 hover:text-black cursor-pointer py-1">Blog</p>
    <p class="self-center mx-2 hover:text-black cursor-pointer py-1">Consulenza</p>
    <p class="self-center ml-2 hover:text-black cursor-pointer py-1 appointment" id="appointment">Fissa un appuntamento</p>
</div>
</div>