<section class="bg--primary__gray__gradient border-bottom-line px-2 md:px-0">
    <div class="container-2xl mx-auto md:pb-20 px-5">
            <div class="md:my-24 md:mt-0 mt-24 text-center">
              <h1 class="text-3xl font-semibold  md:text-3xl lg:text-4xl xl:text-5xl md:leading-tight text-primary text-center px-5 md:px-0">Connetti <span class="text-gradient__white font-extrabold">Procurement24Ore</span> <br> con i tuoi gestionali</h1>
              <button class="btn--primary rounded-md hover:font-semibold tracking-widest leading-none relative whitespace-pre ml-5 self-center mt-12" [routerLink]="['../onboarding']" [queryParams]="{type: 'Demo'}" style="min-width: min-content; height: fit-content;" type="button">
                Richiedi una demo gratuita
              </button>
            </div>
            <div class="md:flex row mt-12">
                <div class="md:w-6/12 p-3">
                </div>
                <div class="md:w-6/12 p-3">
                  <h1 class="text-xl  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5 text-primary font-bold">Integra facilmente il tuo ERP con Procurement24Ore per avere dati continuamente aggiornati, completi e condivisi.</h1>
                  <p>
                    Un unico albo fornitori condiviso: effettua il censimento dei tuoi fornitori attraverso l’applicativo, avrai una perfetta conformità dei dati sul tuo ERP.
                  <p>
                  <br>
                    Corrispondenza nella gestione degli ordini di acquisto: invia un OdA al tuo fornitore su Procurement24Ore e troverai lo stesso record anche sul tuo gestionale.                  </p>
                  <br>
                  <p>
                    Aggiornamenti automatici delle fatture: nessuna discrepanza tra la tua contabilità interna e la fatturazione dei fornitori.
                  </p>
                  <br>
                  <p>
                    Conferma ricezione merce: tramite l’integrazione con l’ERP, Procurement24Ore acquisisce i dati di ricezione della merce, chiudendo il processo di acquisto.
                  </p>
                  <div class="md:flex mt-5">
                    <button routerLink="../orders" class="btn--secondary__blue mt-4 pr-8 text-sm rounded-md tracking-widest leading-none relative my-4"  type="button">
                        Automazione degli Ordini <span class="arrow absolute pl-1">→</span>
                    </button>
                    <button routerLink="../approval-flow" class="btn--secondary__blue mt-4 ml-5 pr-8 text-sm rounded-md tracking-widest leading-none relative my-4"  type="button">
                        Flussi approvativi <span class="arrow absolute pl-1">→</span>
                    </button>
                    <button routerLink="../suppliers" class="btn--secondary__blue mt-4 md:ml-5 pr-8 text-sm rounded-md tracking-widest leading-none relative my-4"  type="button">
                        Albo Fornitori <span class="arrow absolute pl-1">→</span>
                    </button>
                    <button routerLink="../analytics" class="btn--secondary__blue mt-4 ml-5 pr-8 text-sm rounded-md tracking-widest leading-none relative my-4"  type="button">
                        Analitiche <span class="arrow absolute pl-1">→</span>
                    </button>

                </div>
                </div>
            </div>
    </div>
</section>