@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import "scss/colors.scss";
@import "scss/fonts.scss";
@import "scss/tailwindover.scss";
@import "scss/forms.scss";
@import "scss/buttons.scss";

@import "../node_modules/font-awesome/scss/font-awesome.scss";

h1 {
    line-height: 3.5rem !important;
}

.h-screen-75 {
    height: 75vh !important;
}

.bg{
    &--primary {
        &__purple {
        background-color: $base-purple;
        }
        &__gray {
            background-color: $base-gray;
            &__gradient{
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,246,250,1) 65%);
                }
        }
        &__darkgray {
            background-color: $base-gray-dark;
        }
        &__blue {
            background-color: $base-blue;
        }
        &__lightblue {
            background-color: $light-blue;
        }

    }
    &--gradient {
        &__blue {
            background: rgb(245,246,251);
            background: linear-gradient(90deg, rgba(245,246,251,1) 10%, #BFD9E5 100%);
        }
        &__highlight {
            background: rgb(255,190,6);
            background: linear-gradient(27090deg, rgba(255,190,6,1) 0%, rgba(246,146,30,1) 100%);        
        }

        &__yellow {
            background: rgb(245,246,251);
            background: linear-gradient(90deg, rgba(245,246,251,1) 10%, rgba(247,235,201,1) 100%);
        }
    }

    &--size {
        &__normal {
            background-size: 100%;
        }
        &__200 {
            background-size: 200%;
        }
    }
}

.mde-popover-direction-arrow {
    border-color: transparent transparent white !important;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    
  }

  .cdk-overlay-pane {
      margin: 4px 0 !important;
  }

  
 .enable {
    opacity: 1 !important;
  }

.text-gradient {
    -webkit-text-stroke: 2px transparent;
    -webkit-text-fill-color: $base-gray;
    background: #1ba5cd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0c647f, #1ba5cd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0c647f, #1ba5cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    letter-spacing: .15rem;
    -webkit-background-clip: text;
    background-clip: text;
    box-decoration-break: clone;

    &__full {
        background: #9796f0; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #9796f0, #fbc7d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
    }
    &__white {
        @extend .text-gradient;
        -webkit-text-fill-color: white;
    }
    &__0 {
        -webkit-text-stroke: 4px white;
        letter-spacing: .225rem;
        -webkit-text-fill-color: #09627D;
        background: #09627D; /* fallback for old browsers */
        -webkit-background-clip: text;
        background-clip: text;
        box-decoration-break: clone;
    }

    &__2 {
        -webkit-text-stroke: 4px transparent;
        letter-spacing: .225rem;
        -webkit-text-fill-color: $base-gray;
        background: #9796f0; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #9796f0, #fbc7d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        -webkit-background-clip: text;
        background-clip: text;
        box-decoration-break: clone;
    }
    
    &__3 {
        -webkit-text-stroke: 4px transparent;
        letter-spacing: .225rem;
        -webkit-text-fill-color: white;
        background: #9796f0; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #9796f0, #fbc7d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        -webkit-background-clip: text;
        background-clip: text;
        box-decoration-break: clone;
    }

    &__4 {
        -webkit-text-stroke: 4px transparent;
        letter-spacing: .225rem;
        -webkit-text-fill-color: $base-gray;
        background: #9796f0; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #9796f0, #fbc7d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        -webkit-background-clip: text;
        background-clip: text;
        box-decoration-break: clone;
    }
    &__5 {
        -webkit-text-stroke: 4px transparent;
        letter-spacing: .225rem;
        -webkit-text-fill-color: white;
        background: -webkit-linear-gradient(
    -70deg
    ,#FDC830,#F37335);
        -webkit-background-clip: text;
        background-clip: text;
        box-decoration-break: clone;
    }
}

.highlightAppointment {
    background: linear-gradient(0deg, #3E00FF 8%, hsla(191, 62%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, #3E00FF 8%, hsla(191, 62%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, #3E00FF 8%, hsla(191, 62%, 50%, 1) 100%);        
    color: white;
    padding: 0.25rem 0.5rem;
    margin-left: 2rem;
    border-radius: .125rem;
    background-size: 120% auto;    
    opacity: .7;
    &:hover {
        transition: .5s;
        color: white !important;
        background-position: right center; 
    }
}




.skewBg {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 100% 0;
    background: $base-gray;
    overflow: hidden;

    .unskw {
    transform: skewY(7deg);
    }
}

.skewBg__2 {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 100% 0;
    transform: skewY(7deg);
    background: $base-gray;
    overflow: hidden;

    .unskw {
    transform: skewY(-7deg);
    }
}

.subtitle_ball {
    left: -.25rem;
    top: .25rem;
    position: absolute;
}

.item {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

.square {
    position: absolute;
    top: -20% !important;
    right: -40%;
    width: 700px;   
    height: 700px;
}

// width loop


  
    $wides: 30rem, 31rem, 32rem, 33rem, 34rem, 35rem, 36rem, 37rem, 38rem, 39rem;

    @each $wide in $wides {
      .w-#{$wide} {
        width: $wide !important;
      }
    }        


.dropdown:hover .dropdown-menu {
    display: block !important;
  }


.border-bottom {
    border-bottom-width: 1px;
}

.tipiem-bg {
    background: #9796f0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9796f0, #fbc7d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hero-bg {
    border: solid 1px lightgrey;
}

.main-bg {
    background-color: #F2F6FA !important;
}

.scale {
    transform: scale(1.5);
}

.bg-high {
    background: #EEF2FF !important;
    pointer-events: none;
}
// tooltip map

.cdk-overlay-pane {  
    &.mat-tooltip-panel {  
     .mat-tooltip { 
     background-color: white;
     border:  2px solid $base-yellow;
     border-radius:  4px;
     color: $base-font;
     font-size:  16px;
     padding:  10px; 
     position: relative !important;
     width: 300px !important;
     } 
    } 
   }