@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import "scss/colors.scss";
@import "scss/fonts.scss";
@import "scss/tailwindover.scss";
@import "scss/forms.scss";
@import "scss/buttons.scss";

@import "../node_modules/font-awesome/scss/font-awesome.scss";



.bg{
    &--primary {
        &__purple {
        background-color: $base-purple;
        }
        &__gray {
            background-color: $base-gray;
        }
        &__darkgray {
            background-color: $base-gray-dark;
        }
        &__blue {
            background-color: $base-blue;
        }
    }
    &--gradient {
        &__blue {
            background: rgb(93,95,239);
            background: linear-gradient(90deg, rgba(93,95,239,1) 45%, rgba(165,166,246,1) 100%);
            

        }
    }

    &--size {
        &__normal {
            background-size: 100%;
        }
        &__200 {
            background-size: 200%;
        }
    }
}

.mde-popover-direction-arrow {
    border-color: transparent transparent white !important;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    
  }

  .cdk-overlay-pane {
      margin: 4px 0 !important;
  }

  
 .enable {
    opacity: 1 !important;
  }

.text-gradient {
    -webkit-text-stroke: 2px transparent;
    letter-spacing: .125rem;
    -webkit-text-fill-color: $base-gray;
    background: -webkit-linear-gradient(
-70deg
,#3E00FF,#28FFBF);
    -webkit-background-clip: text;
    background-clip: text;
    box-decoration-break: clone;

    &__2 {
        -webkit-text-stroke: 2px transparent;
        letter-spacing: .125rem;
        -webkit-text-fill-color: $base-gray;
        background: -webkit-linear-gradient(
    -70deg
    ,#2047f4,#28FFBF);
        -webkit-background-clip: text;
        background-clip: text;
        box-decoration-break: clone;
    }
}

.highlightAppointment {
    background: linear-gradient(0deg, #3E00FF 18%, hsla(191, 62%, 50%, 1) 100%);
    background: -moz-linear-gradient(0deg, #3E00FF 19%, hsla(191, 62%, 50%, 1) 100%);
    background: -webkit-linear-gradient(0deg, #3E00FF 18%, hsla(191, 62%, 50%, 1) 100%);        
    color: white;
    padding: 0.25rem 0.5rem;
    margin-left: 2rem;
    border-radius: .125rem;
    background-size: 200% auto;    
    opacity: .7;
    &:hover {
        transition: .5s;
        color: white !important;
        background-position: right center; 
    }
}




.skewBg {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 100% 0;
    transform: skewY(-7deg);
    background: $base-gray;
    overflow: hidden;

    .unskw {
    transform: skewY(7deg);
    }
}

.subtitle_ball {
    left: -.25rem;
    top: .25rem;
    position: absolute;
}