@import 'colors.scss';

.btn {
    &--primary {
        background: linear-gradient(0deg, hsla(239, 82%, 65%, 1)18%, hsla(191, 62%, 50%, 1) 100%);
        background: -moz-linear-gradient(0deg, hsla(239, 82%, 65%, 1) 19%, hsla(191, 62%, 50%, 1) 100%);
        background: -webkit-linear-gradient(0deg, hsla(239, 82%, 65%, 1) 18%, hsla(191, 62%, 50%, 1) 100%);        
        color: white;
        border-radius: 2px;
        padding:1em 1.85em;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;   
        background-size: 200% auto;    
        &:hover{
            background-position: right center; 
            transition: ease-in-out 0.5s; 
        }
    }
}