@import 'colors.scss';

.btn {
    &--primary {
        background: rgb(255,190,6);
        background: linear-gradient(27090deg, rgba(255,190,6,1) 0%, rgba(246,146,30,1) 100%);
        color: white;;
        padding:10px 20px;
        overflow: hidden;
        font-weight: 500;
        background-size: 120% auto;
        transition: .3s;
        &:hover{
           transition: .3s;
           position: relative;
           transform: translate(0,-2px);
           box-shadow: 0 9px 13px -6px rgb(10 21 43 / 45%);
        }
      &:disabled,
      &.disabled {
        opacity: 20%;
        pointer-events: none;
      }
    }
    &--secondary {
        background: transparent;
        color: white;
        border: solid 2px white;
        padding:10px 20px;
        overflow: hidden;
        font-weight: 500;
        background-size: 120% auto;
        &:hover{
            .arrow {
            transition: .3s;
            position: absolute;
            transform: translate(5px, 0);
            color: $base-blue;
            }
        }
        &__blue {
            @extend .btn--secondary;
            border: solid 2px $base-blue;
            color: $base-blue;
        }
    }
    &--tertiary{
        background: transparent;
        color: white;
        overflow: hidden;
        font-weight: 500;
        background-size: 120% auto;
        &:hover{
            opacity: .7;
        }
    }
}
