// font import
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400&display=swap');

@import 'colors.scss';

h1 {
    font-family: 'Poppins', sans-serif;   
    font-weight: 500;
    color: black;
}

body {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.333;
    letter-spacing: -.25px;    
    color: black;
}

p {
    font-size: 18px;
    color: #57586e;
}

.text {
    &-gray {
        color: $base-gray-dark
    }
    &-primary {
        color: #005a7c !important;
        &__yellow {
        color: $base-yellow !important;
        }
    }
}

.accent-color {
    color: #16c8f2 !important;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}