// font import
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
@import url('https://db.onlinewebfonts.com/c/7981db7464e849ef2de8a8d28c3bcc18?family=Copyright+Klim+Type+Foundry');

@import 'colors.scss';

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
}

body {
    font-family: 'GT Walsheim Pro';
    line-height: 1.333;
    letter-spacing: -.25px;    
    color: black;
}

p {
    font-size: 18px;
    color: #57586e;
}

.text {
    &-purple {
        color: $base-purple !important
    }
    &-gray {
        color: $base-gray-dark
    }
    &-primary {
        color: $base-blue !important;
        &__yellow {
        color: $base-yellow !important;
        }
    }
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}