    <section class="bg--primary__gray__gradient">
    <div class="container-2xl mx-auto pb-20">

      <div class="hero w-full rounded-2xl relative">
        <div class="px-16 py-24 rounded-md mx-3 md:mx-0">
          <h1 class="text-4xl font-normal  md:text-4xl lg:text-5xl xl:text-6xl md:leading-tight text-white">Digitalizza </h1>
          <h1 class="text-4xl font-extrabold  md:text-4xl lg:text-5xl xl:text-6xl md:leading-tight mt-3 stroke-white h-20 z-10 relative" style="width: fit-content;" id="spin"></h1>
          <p class="mb-10 lg:mt-6 md:w-3/6 sm:w-100 text-xl text-white">
            Trasformiamo il tuo modo di lavorare semplificando e <span>strutturando</span> gli acquisti aziendali e la gestione dei fornitori.
          </p>
          <div id="form-sub">
          <form class="w-full sticky top-0 mb-10" id="trigger-product" >
            <div class="md:flex hidden items-center">
            <div class="w-6/12 md:items-center">
                <input class="shadow-xl opacity-70 w-full form--primary bg-gray-100 pl-5 rounded-md border-none h-16 tracking-wide" id="inline-full-name" type="text" placeholder="Inserisci la tua mail aziendale..." type="email">
            </div>
                <button class="btn--primary rounded-md hover:font-semibold tracking-widest leading-none relative right-32 whitespace-pre" style="min-width: min-content;" type="button">
                  Scopri
                </button>
          </div>
          <div class="md:hidden items-center">
            <div class="md:flex md:items-center">
                <input class="form--primary opacity-70	 rounded-sm bg-gray-100 border-none h-12 w-full tracking-wide" id="inline-full-name" type="text" placeholder="Inserisci la tua mail aziendale..." type="email">
            </div>
                <button class="btn--primary rounded-md my-2 w-full hover:font-semibold tracking-widest leading-none relative"  type="button">
                  Scopri
                </button>
          </div>
          </form>
        </div>
        <div class="bg-gray-100 rounded-lg p-6 absolute -right-10 bottom-16 w-5/12 font-bold flex shadow-xl">
          <div>
            <img src="../../assets/images/quote.svg" alt="virgolette" class="w-24 px-3">
          </div>
          <div class="pt-2">
            <span class="pt-2 text-primary">
            Con il software Niuma, i processi di approvazione dei nostri fornitori sono diventati automaticiiiii 
            </span>
          <br>
            <div class="mt-2 text-primary font-normal font-poppins">
            John Wanye <br>
            Wayne Holding
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    </section>
    <section class="bg--primary__gray overflow-hidden pt-6 relative">
      <div class="mx-auto text-center -mb-12">
        <h1 class="text-3xl font-normal text-primary mb-20  md:text-3xl lg:text-4xl xl:text-5xl md:leading-tight">Concentrati sul tuo core business <br> Lascia fare a <span class="text-gradient font-extrabold">supplean</span> il resto </h1>
      </div>
      <div class="container mx-auto">
      <div class="flex relative">
        <div class="prospect">
          <img src="/assets/images/image 9.png" alt="">
        </div>         
      </div>
      <div class="mx-auto ">
        <div class="overflow-hidden rounded-md">
           
          </div>
        </div> 
      </div>
    
      <div class="container mx-auto my-24 md:flex justify-around opacity-80">
        <div class="bg--primary__blue p-5 rounded-xl py-10 px-10">
          <h1 class="text-2xl font-normal  md:text-3xl lg:text-4xl xl:text-5xl md:leading-tight stroke-white">2. 500 +</h1>
          <p class="pt-2 text-white text-center font-semibold">Fornitori Censiti</p>
        </div>
        <div class="bg--primary__blue p-5 rounded-xl py-10 px-10">
          <h1 class="text-2xl font-normal  md:text-3xl lg:text-4xl xl:text-5xl md:leading-tight stroke-white"> 99,9 % </h1>
          <p class="pt-2 text-white text-center font-semibold">Fornitori Censiti</p>
        </div>
        <div class="bg--primary__blue p-5 rounded-xl py-10 px-10">
          <h1 class="text-2xl font-normal  md:text-3xl lg:text-4xl xl:text-5xl md:leading-tight stroke-white">10.000 + </h1>
          <p class="pt-2 text-white text-center font-semibold">Fornitori Censiti</p>
        </div>
        <div class="bg--primary__blue p-5 rounded-xl py-10 px-10">
          <h1 class="text-2xl font-normal  md:text-3xl lg:text-4xl xl:text-5xl md:leading-tight stroke-white text-center"><span class="text-3xl">#</span>  1 </h1>
          <p class="pt-2 text-white text-center font-semibold">Fornitori Censiti</p>
        </div>
      </div>

    </section>
    <section>
      <div class="bg--primary__gray">
        <div class="md:py-12 py-6">
        <div class="container mx-auto px-5">
          <div class="mb-12">
          <h1 class="text-3xl font-normal  md:text-3xl lg:text-4xl xl:text-5xl md:leading-tight text-primary">Una piattaforma semplice e intuitiva per rispondere a tutte le esigenze del <span class="text-gradient font-extrabold"> procurement aziendale</span>  </h1>
          <p class="md:w-2/4 mt-6 text-xl text-primary">La missione di Supplean è di dotare le aziende italiane di tutti gli strumenti necessari a semplificare i processi di procurement e supplier management.</p>
          </div>
        </div>
        <section>
        <div class="container mx-auto px-5">
        <div>
          <div class="p-5 rounded-2xl mb-5 shadow-xl bg--gradient__highlight overflow-hidden">
            <div class="md:flex">
            <div class="w-400 scale">
              <object type="image/svg+xml" data="../../assets/images/Fornitori.svg" alt="Feature 1">
              </object>
            </div>
            <div class="pl-24">
              <h1 class="text-xl  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5 text-white font-bold">Albo fornitori digitale</h1>                
              <p class="text-gray-50 leading-7">
                Vivamus placerat condimentum libero, nec fringilla mi porttitor vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam eu luctus enim. Aenean lacinia, ex sed mollis egestas, ligula ligula aliquet lorem, vel pellentesque neque diam eget nulla. Fusce suscipit lacus nisl, ut pulvinar dolor tempor volutpat. Vivamus facilisis placerat diam ut blandit.
              </p>
              <button class="btn--secondary mt-4 pr-8 text-sm rounded-md tracking-widest leading-none relative my-4"  type="button">
                Scopri <span class="arrow absolute pl-1">→</span>
              </button> 
            </div>
          </div>
          </div>
        </div>
        <div class="md:flex md:mt-8">
          <div class="text-center md:max-w-6/12 h-card md:text-left md:w-6/12 lg:w-6/12">
            <div class="p-5 md:mr-3 rounded-2xl bg-white shadow-xl">
              <object type="image/svg+xml" data="../../assets/images/Flow.svg" alt="Feature 1">
              </object>
              <div class="">
                <h1 class="text-xl font-normal  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5">Flussi approvativi</h1> 
                  <p>
                  Vivamus placerat condimentum libero, nec fringilla mi porttitor vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam eu luctus enim. Aenean lacinia, ex sed mollis egestas, ligula ligula aliquet lorem, vel pellentesque neque diam eget nulla. Fusce suscipit lacus nisl.
                </p>
                <button class="btn--tertiary mt-2 text-black text-sm rounded-md hover:font-semibold tracking-widest leading-none relative my-4"  type="button">
                  Scopri <span class="arrow absolute pl-1">→</span>
                </button> 
              </div>
            </div>
          </div>
          <div class="text-center md:max-w-6/12 h-card md:ml-3 md:text-left md:w-6/12 lg:w-6/12 relative">
            <div class="p-5 md:ml-2 rounded-2xl bg-white shadow-xl">
              <object type="image/svg+xml" data="../../assets/images/test1.svg" alt="Feature 1">
              </object>
              <div class="">
                <h1 class="text-xl font-normal  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5">Flussi approvativi</h1> 
                  <p>
                  Ut cursus fermentum lectus, eget convallis tellus consequat condimentum. Nam et scelerisque urna, ac accumsan eros. Mauris et dictum lectus, ultricies congue ligula. Fusce ornare ligula risus, a consequat purus rhoncus nec. Sed eget aliquet mi, tempus finibus lacus. In laoreet neque elit, ac consequat velit iaculis ut.
                </p>
                <button class="btn--tertiary mt-2 text-black text-sm rounded-md hover:font-semibold tracking-widest leading-none relative my-4"  type="button">
                  Scopri <span class="arrow absolute pl-1">→</span>
                </button> 
              </div>
            </div>
            <!-- <div class="p-5 md:ml-2 mb-5 rounded-2xl bg-white shadow-xl">
              <object type="image/svg+xml" data="../../assets/images/RDA.svg" alt="Feature 1">
              </object>
              <div class="">
                <h1 class="text-xl font-normal  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5">Flussi approvativi</h1>   
  
                <button class="btn--tertiary mt-2 text-black text-sm rounded-sm hover:font-semibold tracking-widest leading-none relative my-4"  type="button">
                  Scopri →
                </button> 
              </div>
            </div> -->
            <!-- <div class="p-5 md:ml-2 mb-5 rounded-2xl bg-white shadow-xl">
              <div class="flex mt-8 justify-center	">
                <div class="w-32 mx-2">
                  <img src="assets/images/oracle.png" alt="oracle netsuite erp">
                </div>
                <div class="w-32 mx-2">
                  <img src="assets/images/sap.svg" alt="sap erp">
                </div>
                <div class="w-32 mx-2">
                  <img src="assets/images/ms-dynamics.png" alt="microsoft dynamics erp">
                </div>
                </div>
              <div class="">
                <h1 class="text-xl font-normal  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5">Integrabile</h1>                <p>
                <p>Supplean può comunicare con i principali software presenti sul mercato</p>
              </div>
            </div> -->
          </div>
        </div>
        <div>
          <div class="p-5 rounded-2xl mb-5 shadow-xl bg--gradient__highlight overflow-hidden md:mt-8">
            <div class="md:flex">
            <div class="w-400">
              <object type="image/svg+xml" data="../../assets/images/RDA.svg" alt="Feature 1">
              </object>
            </div>
            <div class="pl-24">
              <h1 class="text-xl font-bold  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5 text-white">Albo fornitori digitale</h1>                
              <p class="text-gray-50 leading-7">
                Vivamus placerat condimentum libero, nec fringilla mi porttitor vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam eu luctus enim. Aenean lacinia, ex sed mollis egestas, ligula ligula aliquet lorem, vel pellentesque neque diam eget nulla. Fusce suscipit lacus nisl, ut pulvinar dolor tempor volutpat. Vivamus facilisis placerat diam ut blandit.
              </p>
              <button class="btn--secondary mt-4 pr-8 text-sm rounded-md tracking-widest leading-none relative my-4"  type="button">
                Scopri <span class="arrow absolute pl-1">→</span>
              </button> 
            </div>
          </div>
          </div>
        </div>
        </div>
      </section>
        </div>
        <div>
          <div class="mb-12 container mx-auto text-center">
            <h1 class="text-3xl font-normal  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight text-primary">Scopri come Supplean può aiutarti ad avere controllo totale sugli acquisti aziendali   </h1>
            <!-- <form class="w-full sticky top-0 mb-10 mx-auto pt-12 pb-24" style="max-width: fit-content;" >
              <div class="md:flex hidden items-center">
              <div class="md:flex md:items-center">
                  <input class="shadow-xl form--primary w-96 pl-5 rounded-sm border-none h-16 tracking-wide rounded-tr-none rounded-br-none" id="inline-full-name" type="text" placeholder="Inserisci la tua mail aziendale..." type="email">
              </div>
                  <button class="shadow-xl btn--primary rounded-sm hover:font-semibold tracking-widest leading-none relative h-16 whitespace-pre rounded-tl-none rounded-bl-none" style="min-width: min-content;" type="button">
                    Inizia →
                  </button>
            </div>
            <div class="md:hidden items-center">
              <div class="md:flex md:items-center">
                  <input class="form--primary opacity-70	 rounded-sm bg-gray-100 border-none h-12 w-full tracking-wide" id="inline-full-name" type="text" placeholder="Inserisci la tua mail aziendale..." type="email">
              </div>
                  <button class="btn--primary rounded-sm my-2 w-full hover:font-semibold tracking-widest leading-none relative"  type="button">
                    Scopri
                  </button>
            </div>
            </form>  -->
            <form class="w-6/12 sticky top-0 mb-10 mx-auto pt-12 pb-24" >
                <div class="md:flex hidden items-center relative left-16">
                <div class="w-full md:items-center">
                    <input class="shadow-xl opacity-70 w-full form--primary bg-white pl-5 rounded-md border-none h-16 tracking-wide" id="inline-full-name" type="text" placeholder="Inserisci la tua mail aziendale..." type="email">
                </div>
                    <button class="btn--primary rounded-md hover:font-semibold tracking-widest leading-none relative right-32 whitespace-pre" style="min-width: min-content;" type="button">
                      Scopri
                    </button>
              </div>
              <div class="md:hidden items-center">
                <div class="md:flex md:items-center">
                    <input class="form--primary opacity-70	 rounded-md bg-white border-none h-12 w-full tracking-wide" id="inline-full-name" type="text" placeholder="Inserisci la tua mail aziendale..." type="email">
                </div>
                    <button class="btn--primary rounded-md my-2 w-full hover:font-semibold tracking-widest leading-none relative"  type="button">
                      Scopri
                    </button>
              </div>
            </form>
          </div>        
        </div>
      </div>
    </section>
    <section>
      <div class="md:mt-28 mt-12 container relative mx-auto">
        <div class="md:w-7/12 bg--primary__blue shadow-xl p-5 rounded-2xl relative z-10">
          <div class="md:px-0 px-2">
              <div>
                <img src="../../assets/images/tipiem-white.svg" alt="tipem log" class="w-6/12 ml-auto -m-10 opacity-50">
                <h1 class="text-white text-xl font-normal  md:text-xl lg:text-2xl xl:text-3xl md:leading-tight my-5 ">Consulenze specifiche per <br> <span class="font-extrabold"> trasformare i tuoi centri di costo</span></h1>
                <p class=" text-white mt-6 text-xl">Abbiamo creato Supplean in collaborazione con Theprocuremen, un gruppo di professionisti in grado di creare processi di acquito su misura per ogni cliente trasformando i centri di costo in centri di ricavo. 
                </p>
                <button class="btn--primary mt-6 text-md rounded-md tracking-widest leading-none relative my-4"  type="button">
                  Scopri i servizi di Theprocuremen
                </button> 
              </div>
            </div>
        </div>
        <div class="md:w-8/12 right-0 ml-auto relative -mb-72 -top-72 z-0">
          <div class="border border-blue-100 rounded-2xl">
            <div class="md:flex">
              <div class="md:w-6/12 self-end relative">
                <div class="relative"> 
              </div>
              </div>
              <div class="md:w-6/12 relative">
                <div class="text-xl text-primary my-8 uppercase flex"> 
                  <svg width="24" height="24" class="mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.75 11.7256L4.75 11.7256" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.7002 5.70124L19.7502 11.7252L13.7002 17.7502" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Flotta auto aziendale
                </div>
                <div class="text-xl text-primary my-8 uppercase flex"> 
                  <svg width="24" height="24" class="mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.75 11.7256L4.75 11.7256" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.7002 5.70124L19.7502 11.7252L13.7002 17.7502" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  Mobilità elettrica 
                </div>
                <div class="text-xl text-primary my-8 uppercase flex"> 
                  <svg width="24" height="24" class="mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.75 11.7256L4.75 11.7256" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.7002 5.70124L19.7502 11.7252L13.7002 17.7502" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                  TLC & ICT
                </div>
                <div class="text-xl text-primary my-8 uppercase flex"> 
                  <svg width="24" height="24" class="mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.75 11.7256L4.75 11.7256" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.7002 5.70124L19.7502 11.7252L13.7002 17.7502" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  Servizi ambientali ed ecologci
                </div>
                <div class="text-xl text-primary my-8 uppercase flex">                   <svg width="24" height="24" class="mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.75 11.7256L4.75 11.7256" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.7002 5.70124L19.7502 11.7252L13.7002 17.7502" stroke="#097a9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Energie green rinnovabili
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
