    <section class="px-5 md:px-0">
    <div class="container-2xl mx-auto md:pb-20 px-0 md:px-5">

      <div class="hero w-full rounded-2xl relative mt-12 md:mt-24 ">
        <div class="md:-ml-16 md:py-24 md:p-5 mx-3 md:mx-0 hm">
          <h1 class="text-2xl  md:text-4xl lg:text-5xl xl:text-6xl md:leading-tight text-primary pt-5 md:pt-0 px-5 md:px-0">Reinventa </h1>
          <h1 class="text-3xl  md:text-4xl lg:text-5xl xl:text-6xl md:leading-tight mt-3 text-primary h-20 z-10 relative hidden md:block" style="width: fit-content;" id="spin"></h1>
          <h1 class="text-2xl  md:text-4xl lg:text-5xl xl:text-6xl md:leading-tight md:mt-3 text-primary mb-6 z-10 relative block md:hidden px-5" style="width: fit-content;">Gli acquisti aziendali</h1>

          <h2 class="md:mb-10 mb-4 lg:mt-6 md:w-3/6 sm:w-100 text-xl px-5 md:px-0">
            Trasformiamo il tuo modo di lavorare semplificando e <span>strutturando</span> gli acquisti aziendali e la gestione dei fornitori.
          </h2>

          <div id="form-sub">
          <form class="w-full sticky top-0 md:mb-10 mb-60" id="trigger-product" >
            <div class="items-center">
              <button class="btn--primary tracking-widest leading-none relative self-center md:h-16 h-12 md:px-16 px-12 bottom-4 mt-4 md:mt-0 mx-5 md:mx-0" routerLink="../onboarding" [queryParams]="{type: 'Demo'}" style="min-width: min-content; height: fit-content;" type="button">
                Inizia Ora
              </button>
          </div>
          </form>
        </div>
        <div class="md:block hidden">
        <div class="bg-white bottom-12 rounded-lg md:p-8 m-2 p-2 md:absolute relative md:right-8 md:bottom-16 md:w-5/12 font-semibold flex shadow-md">
          <div class="self-center">
            <img src="../../assets/images/quote.svg" alt="virgolette" class="md:w-8 w-20 -mt-8">
          </div>
            <p class="px-5 font-normal">
              Se siamo cresciuti più del 5% nelle quotazioni è anche grazie al software Niuma
            </p>
        </div>
        <div class="bg-white rounded-lg md:p-5 p-2 md:absolute relative md:right-28 whitespace-pre md:-bottom-8 mx-2 font-semibold flex shadow-md mt-6 md:mt-0">
        <div>
          <span class="text-primary">Stefano Mazzola 
          </span>
          <br>
          <span class="font-normal text-gray-500 mt-3">CPO Gefran SpA</span> 
        </div>
        </div>
        </div>
        <div class="block md:hidden">
          <div class="bg-white rounded-lg m-2 p-2 py-6 md:absolute relative font-semibold flex flex-col shadow-md">
              <p class="px-5 font-normal italic">
                "Se siamo cresciuti più del 5% nelle quotazioni è anche grazie al software Niuma"
                <br>
              </p>
              <span class="font-normal px-5 mt-2"> 
                Stefano Mazzola - CPO Gefran
              </span>               
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto md:pb-24 pb-12 mt-24 md:mt-12 opacity-80">
      <div class="block md:hidden">
      <div class="flex md:block">
      <div class="md:my-0 my-4 w-6/12 md:w-full">
        <h1 class="text-2xl   md:text-3xl lg:text-4xl md:leading-tight accent-color text-center">25.000 +</h1>
        <p class="pt-2 text-center ">Fornitori Censiti</p>
      </div>
      <div class="md:my-0 my-4 w-6/12 md:w-full">
        <h1 class="text-2xl   md:text-3xl lg:text-4xl md:leading-tight accent-color text-center "> 14.5 % </h1>
        <p class="pt-2 text-center ">Saving medio <span class="hidden md:block">dopo 1 anno</span> </p>
      </div>
    </div>
    <div class="flex md:block">
      <div class="md:my-0 my-4 w-6/12 md:w-full">
        <h1 class="text-2xl   md:text-3xl lg:text-4xl md:leading-tight accent-color text-center">10.000 + </h1>
        <p class="pt-2 text-center ">OdA Eseguiti</p>
      </div>
      <div class="md:my-0 my-4 w-6/12 md:w-full">
        <h1 class="text-2xl   md:text-3xl lg:text-4xl md:leading-tight accent-color text-center">8000 + </h1>
        <p class="pt-2 text-center ">Approvazioni <span class="hidden md:block">effettuate</span></p>
      </div>
    </div>
    </div>

    <div class="md:flex hidden justify-around">
      <div class="md:my-0 my-4">
        <h1 class="text-2xl   md:text-3xl lg:text-4xl md:leading-tight accent-color text-center">25.000 +</h1>
        <p class="pt-2 text-center ">Fornitori Censiti</p>
      </div>
      <div class="md:my-0 my-4">
        <h1 class="text-2xl   md:text-3xl lg:text-4xl md:leading-tight accent-color text-center "> 14.5 % </h1>
        <p class="pt-2 text-center ">Saving medio <span class="hidden md:block">dopo 1 anno</span> </p>
      </div>
      <div class="md:my-0 my-4">
        <h1 class="text-2xl   md:text-3xl lg:text-4xl md:leading-tight accent-color text-center">10.000 + </h1>
        <p class="pt-2 text-center ">OdA Eseguiti</p>
      </div>
      <div class="md:my-0 my-4">
        <h1 class="text-2xl   md:text-3xl lg:text-4xl md:leading-tight accent-color text-center">8000 + </h1>
        <p class="pt-2 text-center ">Approvazioni <span class="hidden md:block">effettuate</span></p>
      </div>
    </div>
    </div>
    </section>
    <!-- <section class="overflow-hidden md:pt-12 pt-6 relative px-5 md:px-0">
      <div class="mx-auto text-center -mb-16">
        <h1 class="text-3xl text-primary mb-20  md:text-3xl lg:text-4xl md:leading-tight">Tu sviluppi il tuo business <br> <span>Procurement24Ore </span>fa il resto </h1>
      </div>
      <div class="container mx-auto">
      <div class="flex relative">
        <div class="prospect">
          <img src="/assets/images/image 9.png" alt="">
          <object class="absolute shadow-md bg-white rounded-xl top-28 -right-12 w-4/12" type="image/svg+xml" data="../../assets/images/Flow.svg" alt="Feature 1">
          </object>
          <object class="absolute shadow-md bg-white rounded-xl bottom-28 -left-12 w-5/12" type="image/svg+xml" data="../../assets/images/RDA.svg" alt="Feature 1">
          </object>

        </div>
      </div>
      </div>
    </section> -->
    <section>
      <div>
        <div>
        <div class="md:py-12 py-6 overflow-hidden bg-white">
          <div class="container mx-auto">
              <h1 class="text-2xl  md:text-3xl lg:text-4xl md:leading-tight text-primary px-5 md:px-0">Una piattaforma semplice e intuitiva per rispondere a tutte le esigenze di <span>  procurement della tua azienda</span>  </h1>
            <div class="md:flex row mt-8">
              <div class="md:w-6/12 md:mr-8">
                <div class="bg--primary__gray flex-col items-center rounded-xl p-5 md:pt-8 overflow-hidden h-600 mx-5 md:mx-0">
                  <h1 class="text-xl md:text-xl lg:text-2xl md:leading-tight my-5 text-primary md:px-12">Albo Fornitori Digitale</h1>
                  <p class="text-gray-600 leading-7 md:px-12 z-10 relative">
                    Accredita i tuoi fornitori in un clic: scegli se importare elenchi preesistenti, registrarli manualmente o far compilare al fornitore la sua scheda, registrandosi o meno in piattaforma. 
                    <div>  
                      <img type="image" src="../../assets/images/suppliers.png" class="rounded-2xl relative bg--primary__gray mx-auto my-6 scale-125" width="600px" alt="Feature 1">               
                    </div>       
                </div>
                <div class="bg--primary__gray flex-col items-center rounded-xl p-5 md:pt-8 overflow-hidden mt-8 h-600 mx-5 md:mx-0">
                  <h1 class="text-xl md:text-xl lg:text-2xl md:leading-tight my-5 text-primary md:px-12">Automazione degli Ordini</h1>
                  <p class="text-gray-600 leading-7 md:px-12">
                    Automatizza il processo di ordine e di acquisto e assicurati completa trasparenza e tracciabilità delle fasi di negoziazione e perfezionamento degli acquisti. Monitora le capienze residue, le scadenze e riduci gli errori nelle entrate merci.  
                  <div>  
                      <video autoplay onloadedmetadata="this.muted = true" oncanplay="this.play()" width="2000px" class="rounded-2xl w-9/12 mx-auto" loop="true">
                        <source src="../../assets/images/2-animazione-ordini.mp4"  type='video/mp4'/>
                      </video>   
                  </div>       
                </div>
              </div>
              <div class="md:w-6/12 mt-8 md:mt-0">
                <div class="bg--primary__gray flex-col items-center rounded-xl  p-5 md:pt-8 overflow-hidden h-600 mx-5 md:mx-0">
                  <h1 class="text-xl md:text-xl lg:text-2xl md:leading-tight my-5 text-primary md:px-12">Processi Approvativi Personalizzati</h1>
                  <p class="text-gray-600 leading-7 md:px-12">
                    Gestisci in base alle tue esigenze il flusso approvativo degli ordini e imposta livelli di sicurezza sugli acquisti. Individua soglie di spesa e utenti approvatori per ogni centro di costo.    
                    <div>  
                      <object type="image/svg+xml" data="../../assets/images/3-animazione-approvazione.svg" class="rounded-2xl relative bg--primary__gray mx-auto w-fit" width="400px" alt="Feature 1">
                      </object>                    
                  </div>
                </div>
                <div class="bg--primary__gray flex-col items-center rounded-xl  p-5 md:pt-8 overflow-hidden mt-8 h-600 mx-5 md:mx-0">
                  <h1 class="text-xl md:text-xl lg:text-2xl md:leading-tight my-5 text-primary md:px-12">Analitiche</h1>
                  <p class="text-gray-600 leading-7 md:px-12">
                    Costruisci una Spend Analysis accurata. Consulta la dashboard e accedi ai dati che riguardano fornitori, RdA/RdO, ordini, gli utenti che hanno accesso alla piattaforma e centri di costo.  
                  <div>  
                      <img type="image" src="../../assets/images/static_analytics.png" class="rounded-2xl relative bg--primary__gray mx-auto " width="450px" alt="Feature 1">                </div>
                </div>
              </div>
          </div>
          </div>
        </div>
        <div class="md:py-24 py-12 container mx-auto px-5 md:px-0">
          <div class="mx-auto md:flex justify-between">
            <h1 class="text-3xl  md:text-3xl lg:text-4xl md:leading-tight text-primary">Perché <span>Procurement24Ore</span></h1>
            <button class="btn--primary tracking-widest leading-none relative self-center h-12 md:bottom-4 md:mt-0 mt-4" routerLink="../onboarding" [queryParams]="{type: 'Demo'}" style="min-width: min-content; height: fit-content;" type="button">
              Richiedi una demo gratuita
            </button>
          </div>
          <div class="md:flex row mt-6">
            <div class="md:w-4/12 p-8 bg--primary__gray rounded-xl h-200 mt-8 md:mt-8">
              <img src="../../assets/images/1-basta disordine.svg" class="h-8 relative mb-4" alt="basta disordine">
              <h1 class="text-xl  md:text-xl md:leading-tight mb-5 text-primary">Basta disordine</h1>
              <p>Gestisci fornitori, ordini e approvazioni da un'unica piattaforma, basta mail, fogli di calcolo e ticket sparsi.</p>
            </div>
            <div class="md:w-4/12 p-8 bg--primary__gray rounded-xl md:mx-8 h-200 mt-8 md:mt-8">
              <img src="../../assets/images/2-semplice da usare.svg" class="h-8 relative mb-4" alt="semplice da usare">
              <h1 class="text-xl  md:text-xl md:leading-tight mb-5 text-primary">Semplice da usare</h1>
              <p>Grazie a un'interfaccia leggera e immediata il tuo team può iniziare a usare la piattaforma immediatamente.</p>
            </div>
            <div class="md:w-4/12 p-8 bg--primary__gray rounded-xl h-200 mt-8 md:mt-8">
              <img src="../../assets/images/3-scambi immediati.svg" class="h-8 relative mb-4" alt="semplice da usare">
              <h1 class="text-xl  md:text-xl md:leading-tight mb-5 text-primary">Scambi Immediati</h1>
              <p>Interagisci con tutti gli aspetti della piattaforma attraverso mail, la registrazione alla piattaforma per i tuoi fornitori è opzionale.</p>
            </div>
          </div>
          <div class="md:flex row">
            <div class="md:w-4/12 p-8 bg--primary__gray rounded-xl h-200 mt-8 md:mt-8">
              <img src="../../assets/images/4-integrabile.svg" class="h-8 relative mb-4" alt="semplice da usare">
              <h1 class="text-xl  md:text-xl md:leading-tight mb-5 text-primary">Integrabile</h1>
              <p>Integra la piattaforma con i tuoi sistemi di fatturazione o ERP.</p>
            </div>
            <div class="md:w-4/12 p-8 bg--primary__gray rounded-xl md:mx-8 h-200 mt-8 md:mt-8">
              <img src="../../assets/images/5-visione completa.svg" class="h-8 relative mb-4" alt="semplice da usare">
              <h1 class="text-xl  md:text-xl md:leading-tight mb-5 text-primary">Visione completa</h1>
              <p>Prendi decisioni in autonomia grazie a un accesso costante alle tue spese.</p>
            </div>
            <div class="md:w-4/12 p-8 bg--primary__gray rounded-xl h-200 mt-8 md:mt-8">
              <img src="../../assets/images/6-multicanale.svg" class="h-8 relative mb-4" alt="semplice da usare">
              <h1 class="text-xl  md:text-xl md:leading-tight mb-5 text-primary">Multicanale</h1>
              <p>Interagisci automaticamente con i tuoi fornitori tramite email, SMS, Whatsapp o Voce.</p>

            </div>
          </div>
        </div>
        <!-- <div>
          <div class="mx-auto container px-5 lg:px-0">
          <div class="md:my-12 rounded-2xl tipiem-bg p-12 text-center">
            <h1 class="text-3xl md:text-xl lg:text-2xl xl:text-3xl md:leading-tight text-white">Scopri come possiamo aiutarti a ottenere controllo totale sugli acquisti aziendali   </h1>
            <button class="btn--primary hover:font-semibold tracking-widest leading-none relative self-center mt-12" routerLink="../onboarding" [queryParams]="{type: 'Demo'}" style="min-width: min-content; height: fit-content;" type="button">
              Richiedi una demo gratuita
            </button>
          </div>
        </div>
        </div> -->
        </div>
      </div>
    <section class="mb-24 md:px-5">
      <div class="mt-12 container md:flex relative md:mx-auto">
        <div class="p-12 px-16 mx-5 md:mx-0 rounded-xl relative z-10 tipiem-bg">
          <div class="md:px-0 px-2 md:flex">
            <div>
                <h1 class="text-white text-lg  md:text-lg lg:text-xl xl:text-2xl md:leading-tight mb-5">Scopri il nostro servizio di consulenza per trasformare i centri di costo in centri di ricavo</h1>
                <p class=" text-white mt-6 text-xl">Dall'analisi strutturale dei costi fino ai processi di negoziazione con i fornitori, i nostri senior category specialist sono in grado di seguirti nel processo evolutivo necessario a rispondere a tutte le sfide del procurement moderno.
                </p>
                <div class="md:flex mt-10 flex-wrap ">
                  <div class="border-white px-8 py-2 self-start border-2 rounded-md text-white md:mr-4 my-2 md:uppercase" type="button" data-modal-toggle="medium-modal">
                    Flotta aziendale
                  </div>
                  <div class="border-white px-8 py-2 self-start border-2 rounded-md text-white md:mr-4 my-2 md:uppercase">
                    Mobilità elettrica
                  </div>
                  <div class="border-white px-8 py-2 self-start border-2 rounded-md text-white md:mr-4 my-2 md:uppercase">
                    TLC & ICT
                  </div>
                  <div class="border-white px-8 py-2 self-start border-2 rounded-md text-white md:mr-4 my-2 md:uppercase">
                    Servizi ambientali ed ecologici
                  </div>
                  <div class="border-white px-8 py-2 self-start border-2 rounded-md text-white md:mr-4 my-2 md:uppercase">
                    Energie green rinnovabili
                  </div>
                </div>
                <a href="https://tipiem.procurement24ore.it" target="_blank">
                  <button class="btn--primary mt-12 text-md tracking-widest leading-none relative my-4 h-fit md:h-12"  type="button">
                    Richiedi un assesment gratuito
                  </button>
                </a>
            </div>
            </div>
        </div>
        <!-- <div class="md:w-4/12 mt-8 md:mt-0 right-0 ml-auto relative">
          
          <div class="bg--primary__gray flex flex-col rounded-xl h-full  p-8 overflow-hidden md;mx-0 mx-5 md:mx-0 mb-32 md:mb-0">
            <div class="flex flex-col justify-between">
                <div class=""> 
                  <span class="text-primary">
                    Flotta auto aziendale
                </span>
                  <p class="text-sm mt-2">
                    Analisi dell’attuale parco auto, individuazione di campagne promozionali e tendenze di mercato.</p>
                </div>
                <div class="mt-6">
                  <span class="mb-3 text-primary">
                  Mobilità elettrica
                  </span>
                  <p class="text-sm mt-2">
                    Analisi delle esigenze e definizione della soluzione tecnica più idonea per l’infrastruttura di ricarica.</p>
                </div>
                <div class="mt-6">
                  <span class="mb-3 text-primary">
                  TLC & ICT
                  </span>
                  <p class="text-sm mt-2">
                    Individuazione delle migliori soluzioni di telefonia fissa, rete mobile, collegamento dati e servizi in cloud. 
                  </p>
                </div>
                <div class="mt-6">
                  <span class="mb-3 text-primary">
                  Servizi ambientali ed ecologici
                  </span>
                  <p class="text-sm mt-2">
                    Gestione ambientale ed ecologica di rifiuti speciali e non. Ottimizzazione della compliance ambientale.  
                  </p>
                </div>
                <div class="mt-6">
                  <span class="mb-3 text-primary">                  
                    Energie green rinnovabili
                  </span>
                  <p class="text-sm mt-2">
                    Soluzioni per la compliance e gestione ottimale di impianti di energie rinnovabili. 
                  </p>
                </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>